.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#instruction {
    font-family: Gill Sans, Verdana;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}

#list-submit-button, #item-submit-button {
    color:#fff;
	background-color:#3ce7c2;
	outline: none;
    border: 0;
    color: #fff;
	padding:5px 5px;
	text-transform:uppercase;
	border-radius:2px;
}

#items {
    display: flex;
    border: none;
    color: black;
    padding: 15px 25px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
}

#item-delete-button{
    margin-left: 12px;
    font-size: 14px;
    color:#fff;
	background-color:rgb(236, 44, 10);
    border: 0;
    color: #fff;
	text-transform:uppercase;
	border-radius:2px;
}

#title {
    color: rgba(189, 85, 0, 0.945);
    font-style: italic;
}

#favorite-button {
    background-color: black;
}

#parent {
    color: rgba(189, 85, 0, 0.945);
}

li {
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif
}

